{% load static %}

{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  {% compress css %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
  {% endcompress %}
  {% compress js %}
  <script src="{% static 'script.js' %}"></script>
  {% endcompress %}
</head>
<body>
  <center>
    <h1>Raturi.in</h1>
    <h1 class="heading">Hello Lets compress</h1>
    <p class="para">I am just a para</p>
    <button onclick="change_colors()">Change colors</button>
  </center>
</body>
</html>
